body{
      background-image:url(pizza.jpg);
	  padding:0;
	  margin:0;
	  min-height:100vh;
	 
}
#myNav{ 
        width:80%;
		height:220%;
		background-color:rgba(255, 255,0, .8);
		margin-left:10%; 
		
}
footer{
      position:bottom;
      width:100%;
      height:48%;	  
}


#Pied{
      background-color:rgba(0, 0, 0, .8);
	  height:40%;
	  padding-top:5%;
	  
}
#FR{
    background-color:rgba(255, 0, 0, .3);
	 margin-top:28%;
	height:8%;
	position:top;
	
}

.icon{
     display:flex;
}
.navBar{
list-style:none;
background: rgba(1, 1, 1, .3);
text-align:center;
padding:0;
margin-left:14%;
margin-bottom:1%;
width:85%;
height:3%;
margin-top:-6%;
border-radius: 10px; 	
 }
.navBar li{
display: inline-block;
padding-left:0;
padding-top:-8%;
font-size:80%;
}

.navBar a{
text-decoration:none;
color: blue;
width: 100px;
display:block;
padding: 10px;
margin-right:10px;
font-size: sans-serif;
padding-top:-10%;
margin:0 10px;
}

.nav1{
  margin-left: 10%;
}
@media screen and (min-width: 1300px){
  .navBar { width: 85%}
}
@media screen and (max-width: 1999px){
  .navBar a{ width: 100%}
}
@media screen and (min-width: 200px){
  .navBar li{ height: 10%}
}

header{
    background-color: inherit;

   margin: 0;
    color:white;
    
    top:0;
    left:0;
    right:0;
    
   
}

.nav_header {

    text-align: right;
    position: fixed;
    top: 0;
  background-color: rgb(238, 81, 81);
    right:0;
    left: 0;

    
}
.nav_header a:hover{
    color: rgb(235, 163, 163);
    text-decoration:underline;
}
.nav_header a{
     
  
}

/* ***********FORMULAIRE CSS************** */


form{   
     width:35%;
	 height:66%;
	 padding:3rem%;
	justify-content: center;
	align-items:center;
	margin-top:10%;
	 margin-left:auto;
	 margin-right:auto;
	 background:rgba(255, 255, 255, .3);
	 border-radius: 20px;
	  border-left:2px solid rgba(255, 255,255, .8);
	  border-top:2px solid rgba(255, 255,255, .8);
	  box-shadow:20px 20px 40px -6px(0, 0, 0, .6);
}
h2{
   text-align:center;
   font-weight: 20%;
   opacity:.7;
   margin-bottom:40px;
}
#id-Adresse{
 margin-left:11px;
	   width: 60%;
	   height:3.5%;
 
}
#id-Courriel{
    margin-left:17px;
	   width: 60%;
	    height:3.5%;
 
}
#id-phone{
    margin-left:5px;
	   width: 60%;
	   height:3.5%;
	   
}
#id-method{
 margin-top: 25px;

}
label,
fieldset legend{
   margin-left:5%;
   padding:0;
   font-size:100%
   font-weight: bold;
   color:black;
   display:block;
   text-align:left;
   margin-top:1%;
}

input [type="text"],
select{
      margin:0
	  padding:0;
	  margin-left:25%;
	  margin-top:1%;
	  width:20%;
}

fieldset legend{
 padding-top:1.25em;
 }
 
 fieldset label{
       margin:0;
   padding:0;
   font-weight: normal;
   display:block;
   position:relative;
   left:-0.5em;
   padding-bottom:0;
   padding-left:5%;
   padding-top: 1%;
  border:2px solid transparent;
   width:9em;
  
   
}

select{
      margin:0;
   padding:0;
   margin-bottom:1%;
   background-color: transparent;
   font-size:90%;
   margin-left: 10%;
   width:40%;
}

input [type="submit"]{
    margin-top:10%;
	margin-right: auto;
	cursor:pointer;
	font-size:1rem;
	size: 10%;
	
}

/* input [type="submit"]: focus{
 outline: 4px solid green;
} */

input [type="text"]:hover, 
fieldset label:hover{
  background-color:#ADDFFF;
  
}

input [type="text"],:focus{
   outline: rgba(255, 255,255, .3);
   background-color:transparent;
   }
   
   
fieldset  label.focus{
     background-color:#EEEEEE;
	 border-color:black;
}

.drop{
    
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
	position: absolute;
	border-left:2px solid rgba(0, 0,0, .5);
	border-top:2px solid rgba(0, 0,0, .5);
	border-radius:10px;
	box-shadow: 10px 10px 60px -8px(0, 0, 0, .2);
}

.drop-1{
    background-image:url(piz1.png);
	background-size: 125%;
background-repeat:no-repeat;
background-position:  20%  10%;
    height:13%;
	width:10%;
	top:165%;
	left:45%;
	
	}
.drop-2{
background-image:url(piz2.png);
background-size: 125%;
background-repeat:no-repeat;
background-position:  40%  30%;
    height:13%;
	width:7.5%;
	bottom:65%;
	right:60%;
	z-index:-0;
	
}
.drop-3{
background-image:url(piz3.png);
background-size: 150%;
background-repeat:no-repeat;
background-position:  40%  30%;
    height:18%;
	width:12%;
	bottom:10%;
	right:30%;
	z-index:;
	
}
.drop-4{
 background-image:url(piz4.png);
 background-size: 130%;
background-repeat:no-repeat;
background-position:  40%  30%;    
   height:8%;
	width:5%;
	bottom:-8%;
	right:62%;
	z-index:-0;
	
}